.case{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.postCase{
    width: 500px;
}
.proposa{
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    background: #000000;
    width: 288px;
    border-radius: 10px;
}
.proposa a{
    text-decoration: none;
    color: white;
}