.div-container {
  background-color: #191A23;
  border-radius: 45px;
  width: 1240px;
  padding: 50px 0;
}

.btn-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.btn-section button {
  background: #191A23;
  border: none;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  font-family: monospace, sans-serif;
  cursor: pointer;
}


.div-comments {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.div-component {
  margin-bottom: 80px;
}

.div-comment {
  padding: 40px;
  margin-bottom: 50px;
  width: 606px;
  border: 2px solid #B9FF66;
  border-radius: 45px;
  color: #fff;
  display: inline-block;
  position: relative;
}

.div-comment::after {
  content: '';
  width: 50px;
  height: 50px;
  border-left: 2px solid #B9FF66;
  border-bottom: 2px solid #B9FF66;
  position: absolute;
  bottom: -26px;
  left: 60px;
  background: #191A23;
  transform: rotate(-45deg);
  z-index: 100;
}

.div-description {
  padding-left: 100px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;

}

.swiper-button-prev,
.swiper-button-next {
  font-family: monospace, sans-serif;
  font-size: 40px;
  color: #fff !important;
  top: 95% !important;
  width: 60% !important;
  user-select: none !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex !important;
  justify-content: flex-end !important;
  left: 6% !important;
  gap: 10px !important;
  width: 50% !important;
}

.slider-controller {
  display: flex !important;
  justify-content: center !important;
  width: 50% !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  transform: rotate(45deg) !important;
  /* color: #B9FF66 !important; */
  /* content: '✦' !important; */
}

.swiper-pagination-bullet-active {
  background-color: #B9FF66 !important;
}

/* .swiper-pagination {
  color: #fff;
  width: 100%;
  top: 20px;
} */