.container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
.main-info h1{
    width: 531px;
    font-size: 60px;
    filter: drop-shadow(#695a5a 0.2rem  0.3rem 0.2rem);
}
.main-info p{
    width: 531px;
    font-size: 20px;
    margin-bottom: 35px;
}
.main-info .specialButton2{
    background: #000000;
    padding: 15px;
    width: 231px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    
}
.main-info .specialButton2:hover{
    transform: scale(1.1);
    transition: 1s;
}
.main-info .specialButton2 a{
    text-decoration: none;
    color: #fff;
}