.container-team {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.member {
  padding: 10px;
  margin-bottom: 10px;
  width: 360px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-bottom: 5px solid black;
  border-radius: 20px;
}
.bio {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.btn1 {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn {
  background-color: black;
  border-radius: 15px;
  margin-bottom: 30px;

  float: right;
}
.btn a {
  padding: 20px 40px;
  text-decoration: none;
  float: right;
  color: white;
}
