.containerRupor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.imgContainer {
    background-image: url(./ImgForHome/speaker.svg);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}

.main-info {
    width: 100%;
}

.main-info h1 {
    width: 531px;
    font-size: 60px;
    filter: drop-shadow(#695a5a 0.2rem 0.3rem 0.2rem);
}

.main-info p {
    width: 531px;
    font-size: 20px;
    margin-bottom: 35px;
}

.main-info .specialButton2 {
    background: #000000;
    padding: 15px;
    width: 231px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.main-info .specialButton2:hover {
    transform: scale(1.1);
    transition: 1s;
}

.main-info .specialButton2 a {
    text-decoration: none;
    color: #fff;
}

/* МЕДИА ЗАПРОСЫ */
@media(max-width:1210px) {
    .main-info h1 {
        width: 400px;
        font-size: 40px;
    }

    .main-info p {
        width: 400px;
        font-size: 16px;
    }

    .imgContainer {
        background-size: 450px;
        width: 100%;
    }
}

@media(max-width:1000px) {
    .main-info h1 {
        width: 350px;
        font-size: 36px;
    }

    .main-info p {
        width: 350px;
        font-size: 14px;
    }

    .imgContainer {
        background-size: 400px;
        width: 100%;
    }
}

@media(max-width:850px) {
    .containerRupor {
        width: 100%;
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
    }

    .main-info {
        width: 100%;
        display: block;
    }

    .main-info h1 {
        width: 100%;
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 600px;
    }

    .main-info p {
        text-align: center;
        width: 100%;
        font-size: 26px;
    }

    .imgContainer {
        display: block;
        background-size: 600px;
        width: 100%;
        height: 600px;
        background-position: center;
        position: absolute;
        top: 200px;
    }

    .main-info .specialButton2 {
        margin: 20px 30px 0 30px;
        font-size: 26px;
        padding: 20px;
        width: 80%;
    }
}

@media(max-width:650px) {
    .main-info h1 {
        width: 100%;
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 450px;
    }

    .imgContainer {
        display: block;
        background-size: 450px;
        width: 100%;
        height: 600px;
        background-position: center;
        position: absolute;
        top: 200px;
    }
}

@media(max-width:470px) {
    .main-info h1 {
        width: 95%;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 350px;
    }

    .main-info p {
        width: 90%;
        font-size: 18px;
    }

    .imgContainer {
        display: block;
        background-size: 300px;
        width: 100%;
        height: 600px;
        background-position: center;
        right: 30px;
        position: absolute;
        top: 50px;
    }

    .main-info .specialButton2 {
        margin: 15px 15px 0 15px;
        font-size: 18px;
        padding: 20px;
        width: 85%;
    }
}

@media(max-width:400px) {
    .containerRupor {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .main-info h1 {
        width: 100%;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 350px;
    }

    .main-info p {
        width: 95%;
        font-size: 14px !important;
    }

    .imgContainer {
        display: block;
        background-size: 300px;
        width: 100%;
        height: 600px;
        background-position: center;
        position: absolute;
        right: 30px;
        left: 20px;
        top: 50px;
    }

    .main-info .specialButton2 {
        margin: 10px 10px 0 0;
        font-size: 16px;
        padding: 15px;
        width: 85%;
    }
}