.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.links img {
    color: #000000;
}

.links svg {
    filter: drop-shadow(#695a5a 0.2rem 0.3rem 0.2rem);
}

@media(max-width:850px) {
    .links {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 20px 20px 50px 20px;
    }
}

@media(max-width:450px) {
    .links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 10px 10px 20px 10px;
    }

    .links svg {
        filter: drop-shadow(#695a5a 0.2rem 0.3rem 0.2rem);
    }
}